[Unit]
Description=CPEN 442 Miner
After=network-online.target

[Service]
Type=simple
ExecStart=cpen442-miner --identity 00ed0d3d8577f6c8c654c8c4527ce884 --cl-device 0
ExecStop=killall cpen442-miner
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
# vim: ft=systemd
